# webserver files (only here so i can test easier)
xampp/
webalizer/
dashboard/
img/
pma.php
bitnami.css
favicon.ico
# the most epic clicker game ever (ignored because seperate repo and i'm not using a python webserver)
the-most-epic-clicker-game-ever/