h1, h2, h3, p, div,a {font-family: Verdana;}
body {
  padding-right: 300px; padding-left: 300px; padding-top: 0px; padding-bottom: 300px;
  background: url(images/image1.jpg);
  background-color: darkslategray;
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
div.body {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border: 10px ridge;
  border-color: slategrey;
  backdrop-filter: blur(10px);
}
img {border: 5px inset slategrey}