@font-face {
  font-family: SegUIVar;
  src: url(fonts/SegUIVar.ttf)
}
h1, h2, h3, p, div,a {font-family: SegUIVar, 'Segoe UI', sans-serif;}
body {
  margin: 0 auto;
  width: 70%;
  padding-top:1%;
  padding-bottom: 10%;
  background-color: #023; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.body {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius:7px;
  backdrop-filter: blur(15px);
  box-shadow: rgb(0, 0, 0, 0.4) 3px 3px 10px;
}
img {
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  border-radius:5px;
  margin:5px;
  box-shadow: rgb(0, 0, 0, 0.4) 3px 3px 10px;
  transition: transform 100ms ease-in-out;
}
.imagetext {
  font-size: 15px;
  width: auto;
  position: relative;
}
.image {
  width:75%;
}
.button {
  background-color: rgba(112, 128, 144, 0.5);
  backdrop-filter: blur(15px);
	border-radius:5px;
	border:2px solid rgba(255, 255, 255, 0.2);
	display:inline-block;
  width: 7%;
  text-align: center;
	cursor:pointer;
	color:#ffffff;
  padding:5px 2px;
	text-decoration:none;
  text-shadow:black 1px 1px 3px;
  box-shadow: rgb(0, 0, 0, 0.4) 3px 3px 10px;
  transition: transform 100ms ease-in-out;
  margin-right: 5px;
}
.button:hover {
  transform-origin: center;
  transform: scale(calc(14 / 13)) 
}
.button:active {
  transform-origin: center;
  transform: scale(calc(1 / 1)) 
}
table {
  table-layout: fixed;
  width: 100%;
}
img:hover {
  transform-origin: center;
  transform: scale(calc(75 / 70)) 
}
img:active {
  transform-origin: center;
  transform: scale(calc(1 / 1)) 
}
td {
  text-align: center; 
  vertical-align: middle;
}

