h1, h2, h3, p, div,a {font-family: Verdana;}
body {
  padding-right: 300px; padding-left: 300px; padding-top: 0px; padding-bottom: 150px;
  background-color: darkslategray;
  height: 95%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.body {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border: 5px ridge;
  border-color: slategrey;
  backdrop-filter: blur(10px);
}
img {border: 5px ridge slategrey}
.imagetext {
  font-size: 12px;
  width: 279px;
  position: relative;
}
.gallery {
  margin: 0 auto;
}
.image {
  height:156px;
  width:279px;
}